# データの永続化
## SQLLite
* 軽量データベースを実装するC言語のライブラリ
* サーバー用のプロセスを必要としない, 組み込み型のデータベースエンジン.
* 単一のファイルによって管理される(インメモリも可能)

In [7]:
import sqlite3

In [8]:
# DBファイルの保存先のパス
path = ''

#GoogleColabの場合
# path = '/content’

# DBファイル
db_name = 'test.db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#Dbへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |
### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [9]:
path = ''
db_name = 'car.db'

try:
   # DB接続オブジェクトの作成
   conn = sqlite3.connect(path + db_name)

   # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
   cur = conn.cursor()

   #SQL文の作成
   #テーブルの作成
   sql = 'CREATE TABLE car (id INT, name TEXT, price REAL);'

   # SQLの実行
   cur.execute(sql)

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

finally:
   # DBへの接続を閉じる
   conn.close()

エラーが発生しました: table car already exists

### データをDBに挿入する(単一レコード)

In [10]:
path = ''
db_name = 'car.db'

try:

 # DB接続オブジェクトの作成
 conn = sqlite3.connect(path + db_name)

 # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
 cur = conn.cursor()

 #SQL文の作成
 # データの挿入
 #文字列データを挿入する場合はシングルクォーテーションで挟む
 sql = "INSERT INTO car (id, name, price) VALUES (1, 'Toyota', 30000);"

 # SQLの実行
 cur.execute(sql)

 #変更をDBに反映させる
 conn.commit()

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

finally: 
 # DBへの接続を閉じる
 conn.close()

### データを挿入する(複数レコード)

In [13]:
path = ''
db_name = 'car.db'

try:

 # DB接続オブジェクトの作成
 conn = sqlite3.connect(path + db_name)

 # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
 cur = conn.cursor()

 #SQL文の作成
 # 複数レコードの挿入
 #INSERT INTO　テーブル名 VALUES (列に対応したプレースホルダーをカンマ区切りで);
 sql = "INSERT INTO car (id, name, price) VALUES (?, ?, ?);"

 cars = [
   (2, 'Honda', 28000),
   (3, 'Ford', 32000),
   (4, 'BMW', 55000),
 ]
 # SQLの実行
 cur.executemany(sql, cars)

 #変更をDBに反映させる
 conn.commit()

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

finally: 
 # DBへの接続を閉じる
 conn.close()

### DB内のデータを参照する

In [15]:
path = ''
db_name = 'car.db'

try:

 # DB接続オブジェクトの作成
 conn = sqlite3.connect(path + db_name)

 # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
 cur = conn.cursor()

 #データを参照するSQL
 #SELECT * FROM テーブル名;
 # * の部分は、取得したい列の名前を,区切りで指定する
 sql = "SELECT * FROM car;"


 # SQLの実行
 cur.execute(sql,)


 #変更をDBに反映させる
 #conn.commit()

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

else:
  for row in cur:
    id, name, price = row
    print(id, name, price)

finally: 
 # DBへの接続を閉じる
 conn.close()

1 Toyota 30000.0
1 Toyota 30000.0
2 Honda 28000.0
3 Ford 32000.0
4 BMW 55000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:

 # DB接続オブジェクトの作成
 conn = sqlite3.connect(path + db_name)

 # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
 cur = conn.cursor()

 #データを削除するSQL
 #DELETE FROM テーブル名 WHERE id = 1;
 sql = "DELETE FROM car WHERE id = 1;"
 #sql = "DELETE FROM car WHERE name = 'Ford';"
 #sql = "DELETE FROM car WHERE name like 'Ford';


 # SQLの実行
 cur.execute(sql,)


 #変更をDBに反映させる
 conn.commit()

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

finally: 
 # DBへの接続を閉じる
 conn.close()

### データの更新

In [17]:
path = ''
db_name = 'car.db'

try:

 # DB接続オブジェクトの作成
 conn = sqlite3.connect(path + db_name)

 # SQL(RDBを確立するための言語)を実行するためのカーソルオブジェクトを取得
 cur = conn.cursor()

#データを更新するSQL
#UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
 sql = "UPDATE car SET price = ? WHERE name = ?;"


 # SQLの実行
 cur.execute(sql, (60000, 'BMW'))


 #変更をDBに反映させる
 conn.commit()

except sqlite3.Error as e:
   print('エラーが発生しました:', e)

else:
  for row in cur:
    id, name, price = row
    print(id, name, price)

finally: 
 # DBへの接続を閉じる
 conn.close()